
<a class="dream" data-selection-value="{{text}}" data-selected>
<div class="large-wrap">
    <div class="large">
        <img src="{{image}}" alt="">
        <div class="text">
            {{text}}
        </div>
    </div>
</div>

</a>
