Django 
MySQL-python
South
argparse
boto
distribute
django-browserid
django-extensions
django-jstemplate
django-memcached
django-social-auth
django-storages
django-tastypie
gunicorn
httplib2
ipython
python-memcached
pytz
requests
